@font-face {
    font-family: 'BLOKKRegular';
    src: url('../fonts/BLOKKRegular.eot');
    src: url('../fonts/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BLOKKRegular.woff') format('woff'),
         url('../fonts/BLOKKRegular.svg#BLOKKRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import "../bower/susy/sass/susy";
$fa-font-path: "../bower/font-awesome/fonts";
@import "../bower/font-awesome/scss/font-awesome";
@import "library/reset";
@import "library/settings";
@import 'compass';
@import "library/variables";
@import "library/mixins";  
@import "library/pattern";
@import "library/forms"; 
@import "library/buttons";
@import "library/layout"; 



// COVER

.centered-wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	padding: 0 $base-spacing;
}

#cover-heading {
	@include full;
	background-color: $primary-color;
	color: #FFFFFF;
	@include clearfix;
	background-image: url("../img/bg-cover.png");
	background-position: right bottom;
	background-repeat: no-repeat;

	.logo {
		float: left;
		max-width: 150px;
		margin: $large-spacing 0 0 $large-spacing;

		img {
			width: 100%;
		}
	} 

	.cover-title {
		margin-top: $larger-spacing*2;
		@include full;
		max-width: 50%;
		font-size: 5rem;
		font-weight: $light-weight;
	}

	.cover-description {
		margin: $larger-spacing 0 $larger-spacing*2;
		@include full;
		max-width: 50%;
	}
}

.cover-content {
	@include full;
	padding: $larger-spacing 0;

	.intro,
	.sections {
		@include full;
	}

	.sections {
		margin-top: $larger-spacing;
	}

	.sections .card {
		@include gallery(4);
		text-align: center;

		figure {
			padding: $base-spacing 0;
		}

		.card-body {
			color: $primary-color;
			font-size: 2.5rem;
			line-height: 1;
			font-weight: $light-weight;
		}

		.card-actions {
			text-align: center;
		}
	}
}

.cover-footer {
	@include full;
	padding-bottom: $base-spacing;

	.powered {
		float: left;
	}

	.release {
		float: right;
		font-weight: $bold-weight; 
	}
}


#draft-ribbon{
  width: 200px;
  background: #e43;
  position: fixed;
  top: 25px;
  right: -50px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  @extend .depth-1;
  z-index: 3;
}



// END COVER




 
.dummy {
	font-family: 'BLOKKRegular' !important;
	color: $gray;
}

main {
	padding-right: 0;
	padding-top: 0;
}

/* #main-sidebar {
	background-color: #FFFFFF;

	.first-level-menu a {
		color: $base-text-color;
	}
}
 */
.component-intro { 
	background-color: $primary-color;
	color: $primary-text-color;
	@include full;
	padding: $large-spacing $base-spacing;

	.category {
		color: rgba(255,255,255,0.8);
	}

	h1 {
		line-height: 1;
		margin-bottom: 0;
	}
}

// STRUTTURA PATTERN LIBRARY PAGES

.component-name,
.component-description,
.component-example,
.component-specs {
	@include full;
	margin-bottom: $base-spacing;
}

.component-specs {
	.tab-content {
		background-color: #FFFFFF;
		border: 1px solid $light-gray;
		border-top: 0;
		padding: $base-spacing;
	}

	pre {
		padding-bottom: $small-spacing;

		&:last-child {
			padding-bottom: 0;
		}
	}

	.hljs {
		padding: 0 !important;
		background: transparent;
		padding-bottom: $small-spacing;
	}
}




// FINE STRUTTURA PATTERN LIBRARY PAGES


// RELEASE NOTES

#release-notes {
	.release {
		@include full;
		padding: $base-spacing 0;
		border-bottom: 1px solid $light-gray;

		.number {
			float: left;
			width: 5%;
			color: $medium-gray;
		}

		.date {
			float: left;
			width: 10%;
		}

		.description {
			float: left;
			width: 85%;
		}


	}
}

// END RELEASE NOTES


#lists {
  ol,
  ul {
    @include gallery(4);
  }
}

#cards {
  .card-example {
    @include gallery(4);

    @include susy-breakpoint($desktop) {
    	@include gallery(6);
    }

    @include susy-breakpoint($tablet) {
    	@include gallery(12);
    	clear: both !important;
    }
  }
}

#test-modal {
  display: none;
}

#tooltips {

	.component-example {
		li {
		    @include gallery(4);

		    span {
		      @include full;
		      line-height: 50px;
		      text-align: center;
		      background: $light-gray;
		    }
	  	}
	}
  
}

#features {
  .feature {
    @include gallery(4);
  }
}


// COLORS

.pattern-color {
	@include gallery(3);

	@include susy-breakpoint($tablet) {
		@include gallery(4);
	}

	@include susy-breakpoint($smartphone) {
		@include gallery(6);
	}

	figure {
		height: 100px;

		&.corporate-primary {
			background-color: $primary-color;
		}

		&.corporate-secondary {
			background-color: $secondary-color;
		}

		&.contactplan-primary {
			background-color: $contactplan-primary-color;
		}

		&.contactplan-secondary {
			background-color: $contactplan-secondary-color;
		}

		&.contacthub-primary {
			background-color: $contacthub-primary-color;
		}

		&.contacthub-secondary {
			background-color: $contacthub-secondary-color;
		}

		&.contactsend-primary {
			background-color: $contactsend-primary-color;
		}

		&.contactsend-secondary {
			background-color: $contactsend-secondary-color;
		}

		&.contactscore-primary {
			background-color: $contactscore-primary-color;
		}

		&.contactscore-secondary {
			background-color: $contactscore-secondary-color;
		}

		&.contactanalytics-primary {
			background-color: $contactanalytics-primary-color;
		}

		&.contactanalytics-secondary {
			background-color: $contactanalytics-secondary-color;
		}

		@each $type, $color in $default-status {
			&.#{$type} {
				background-color: nth($color, 1);
				color: nth($color, 2);

				.counter {
					color: nth($color, 1);
				}
			}
		}

		&.lighter-gray {
			background: $lighter-gray;
		}

		&.light-gray {
			background: $light-gray;
		}

		&.gray {
			background: $gray;
		}

		&.medium-gray {
			background: $medium-gray;
		}

		&.dark-gray {
			background: $dark-gray;
			color: #FFFFFF;
		}

		&.darker-gray {
			background: $darker-gray;
			color: #FFFFFF;
		}

		&.disabled-color {
			background: $disabled-color;
		}
	}
}


// TYPOGRAPHY

.typography-card {
	@include gallery(6);

	.big-letter {
		font-size: 5rem;
		line-height: 1;
		margin-right: $base-spacing;
		position: absolute;
		left: $base-spacing;
		top: $base-spacing;
		width: 100px;
	}

	.font-demo {
		@include full;
		padding-left: 120px;
		font-size: 1.2rem;
		word-break: break-all;
	}

	&.light .card-body {
		font-weight: 300;
	}

	&.semibold .card-body {
		font-weight: 600;
	}

	&.bold .card-body {
		font-weight: 700;
	}

	&.italic .card-body {
		font-style: italic;
	}
}

.text-styles-card {
	h1,
	h2,
	h3,
	h4 {
		margin-bottom: 0;
	}
}

// SPINNERS

#spinner .spinner-example {
	@include gallery(6);
	height: 200px;
	padding: $base-spacing;
	@extend .dummy;
}

// PROGRESS BARS

#progress-bars {
	
}

// ICONOGRAPHY

#iconography {
	.icon-example {
		@include gallery(4);
		margin-bottom: $base-spacing;

		.clab {
			vertical-align: sub;
			margin-right: 5px;
		}
	}
}

// MOTION

#shadow {
	.shadow-container {
		@include gallery(2);
		margin-bottom: $base-spacing;

		.shadow {
			width: 100px;
			height: 100px;
			background-color: $gray;
		}
	}
}

// TOOLTIPS

#tooltips {

	.tooltip {
		background-color: $gray;
		padding: $base-spacing;
		margin-right: $base-spacing;
		float: left;
		margin-bottom: $base-spacing;
	}
}