@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
$fa-font-path: "../bower/font-awesome/fonts";
@import "../bower/font-awesome/scss/font-awesome";
@import "contactlab-pattern";

// COMPONENTS
@import "../bower/ui-components/_assets/scss/contactlab-pattern";

// HEADER

header .main-nav {
	padding-right: 250px;
}

header .product-logo .product-name {
	padding-left: 0;
	font-size: 23px;
}

// COVER

.centered-wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	padding: 0 $base-spacing;
}

#cover-heading {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	background-color: $primary-color;
	color: #FFFFFF;
	background-image: url("../img/bg-cover.png");
	background-position: right top;
	background-repeat: no-repeat;
	height: 594px;

	@media (max-width: $tablet) {
		background-image: none;
		height: auto;
		padding: $larger-spacing 0;
	}

	.logo {
		max-width: 150px;
		padding: $base-spacing 0 0 $base-spacing;
		position: absolute;
		top: 0;

		img {
			width: 100%;
		}
	}

	.cover-description {
		width: 100%;
		max-width: 1200px;
		flex-grow: 0;
		margin: 0 auto;
		align-self: center;
		padding: 0 $base-spacing;

		h1 {
			font-size: 5rem;
		}

		h1,
		p {
			width: 100%;
			max-width: 50%;
		}

		@media (max-width: $tablet) {
			h1,
			p {
				max-width: 100%;
			}
		}
	}
}

.cover-content {
	padding: $larger-spacing 0;

	.intro,
	.sections {
	}

	.sections {
		margin-top: $larger-spacing;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.sections .card {
		text-align: center;
		flex: 1 1 20%;
		margin-right: $base-spacing;

		&:last-of-type {
			margin-right: 0;
		}

		@media (max-width: $tablet) {
			flex: 1 1 40%;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		@media (max-width: $smartphone) {
			flex: 1 1 100%;
			margin-right: 0;
		}

		figure {
			padding: $base-spacing 0;
		}

		.card-body {
			color: $primary-color;
			font-size: 2.5rem;
			line-height: 1;
			font-weight: $light-weight;
		}

		.card-actions {
			text-align: center;
		}
	}
}

.cover-footer {
	padding-bottom: $base-spacing;

	.powered {
		float: left;
	}

	.release {
		float: right;
		font-weight: $bold-weight;
	}
}


#draft-ribbon{
  width: 200px;
  background: #e43;
  position: fixed;
  top: 25px;
  right: -50px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  @extend .depth-1;
  z-index: 15;
}



// END COVER






// STRUTTURA PATTERN LIBRARY PAGES

.specs {
	.tab-content,
	.code-snippet {
		background-color: #FFFFFF;
		border: 1px solid $light-gray;
		border-top: 0;
		padding: $base-spacing;
		position: relative;
	}

	.clipboard {
		position: absolute;
		top: 0;
		right: 0;
		background-color: $medium-gray;

		&.copied:before {
			content:"Copied!";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			color: $success-text-color;
			line-height: 24px;
			background-color: $success-color;
		}
	}

	pre {
		padding-bottom: $small-spacing;

		&:last-child {
			padding-bottom: 0;
		}
	}
}

.hljs {
	padding: $small-spacing;
	background: $darker-gray;
	padding-bottom: $small-spacing;
}

.hljs-tag .hljs-title {
	color: #ef5350;
}

.hljs-attribute {
	color: #80DEEA;
}

.hljs-tag .hljs-value {
	color: #FFF176;
}


.component-description {
	margin-bottom: $base-spacing;
}

.hljs-comment {
	color: $dark-gray;
}

.component {
	flex-direction: column;

	.example {
		display: flex;
		margin-bottom: $base-spacing;
		flex-wrap: wrap;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.specs {
		.tab-content {
			padding: 0;
			position: relative;
		}

		button-clab {
			margin: 0;
            display: block;
		}

		.clipboard {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
		}
	}
}


// FINE STRUTTURA PATTERN LIBRARY PAGES


// RELEASE NOTES

#release-notes {
	.release {
		padding: $base-spacing 0;
		border-bottom: 1px solid $light-gray;

		.number {
			float: left;
			width: 5%;
			color: $medium-gray;
		}

		.date {
			float: left;
			width: 10%;
		}

		.description {
			float: left;
			width: 85%;
		}


	}
}

// END RELEASE NOTES


// COLORS


.pattern-colors {
	.pattern-color {
		width: 200px;
		margin-right: $base-spacing;
		padding-bottom: $base-spacing;

		.color-sample {
			height: 200px;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: center;
			margin-bottom: $small-spacing;

			&.corporate-primary {
				background-color: $primary-color;
			}

			&.corporate-neutral {
				background-color: #5C6970;
			}

			&.lighter-gray {
				background-color: $lighter-gray;
			}

			&.light-gray {
				background-color: $light-gray;
			}

			&.gray {
				background-color: $gray;
			}

			&.medium-gray {
				background-color: $medium-gray;
			}

			&.dark-gray {
				background-color: $dark-gray;
			}

			&.darker-gray {
				background-color: $darker-gray;
			}

			@each $type, $color in $default-status {
				&.#{$type} {
					background-color: nth($color, 1);
				}
			}

			.swatches {
				visibility: hidden;
				opacity: 0;
				@extend .default-transition;

				img {
					width: 40px;
					margin: $smaller-spacing;
				}
			}

			&:hover {
				.swatches {
					visibility: visible;
					opacity: 1;
					@extend .default-transition;
				}
			}
		}

		.details {
			ul {
				li {
					margin-bottom: 0;
					font-size: $small-font-size;
				}

				li:first-child {
					font-weight: $bold-weight;
					font-size: $base-font-size;
				}
			}
		}
	}
}




// TYPOGRAPHY

.typo-weights {
	flex-wrap: wrap;

	.font-weight {
		flex-grow: 1;
		font-size: 100px;
		line-height: 1;

		.name {
			font-size: $small-font-size;
			font-weight: $normal-weight;
		}

		&.light {
			font-weight: $light-weight;
		}

		&.semibold {
			font-weight: $semibold-weight;
		}

		&.bold {
			font-weight: $bold-weight;
		}
	}
}

.typo-examples {
	.example {
		flex-grow: 1;
		flex-basis: 50%;
		margin: $base-spacing 0;
		font-size: $big-font-size;
		padding-right: $base-spacing;

		.name {
			font-size: $small-font-size;
			font-weight: $normal-weight;
			border-bottom: 1px solid $gray;
			padding-bottom: $smaller-spacing;
			margin-bottom: $smaller-spacing;
		}

		&.italic {
			font-style: italic;
		}

		&.light {
			font-weight: $light-weight;
		}

		&.semibold {
			font-weight: $semibold-weight;
		}

		&.bold {
			font-weight: $bold-weight;
		}
	}
}


// SPINNERS

.spinner-comp {
	.example {
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.spinner-container {
	position: relative;
	justify-content: space-between;
	height: 200px;
	flex-basis: calc((100% / 2) - 10px);
}

// PROGRESS BARS

.component.prog-bars-comp {
	.example {
		margin-bottom: 0;
	}
}

// TAB PILLS

.component.tab-pills {
	tabs-clab {
		flex-grow: 1;
	}
}


// ICONOGRAPHY

.iconography {
	.icon-example {
		flex-grow: 1;
		flex-basis: calc(100% / 3);
		display: flex;
		padding-bottom: $base-spacing;
		align-items: center;

		@media (max-width: $tablet) {
			flex-basis: 50%;
		}

		@media (max-width: $smartphone) {
			flex-basis: 100%;
		}

		.clab-icon {
			font-size: 25px;
			padding-right: $small-spacing;
			width: 50px;
			text-align: center;
		}
	}

	&.corporate {
		.clab-icon {
			width: auto;
			font-size: 15px;
		}
	}
}

// LISTS

.example.lists {
	display: flex;

	ul,
	ol {
		flex-grow: 1;
		flex-basis: calc(100% / 3);
	}
}

// MOTION

.motion-examples {

	.shadow-container {
		display: flex;
	}

	.shadow {
		width: 100px;
		height: 100px;
		background-color: $gray;
		margin-right: $base-spacing;
	}
}

// TOOLTIPS

#tooltips {

	.tooltip {
		background-color: $gray;
		padding: $base-spacing;
		margin-right: $base-spacing;
		float: left;
		margin-bottom: $base-spacing;
	}
}

// CARDS

.cards {
		@media (max-width: $smartphone) {
			display: block;
		}

	card-clab {
		flex: 1 1 30%;
		margin-right: $base-spacing;
		max-width: 352px;

		&:last-of-type {
			margin-right: 0;
		}

		@media (max-width: $tablet) {
			flex: 1 1 40%;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		@media (max-width: $smartphone) {
			flex: 1 1 100%;
			margin-right: 0;
		}
	}
}

// FEATURES

.features {

	.example {
		justify-content: space-between;
	}

	feature-clab {
		width: calc((100% / 3) - 14px);
	}
}

// RANGE

range-clab {
	flex-grow: 1;
}

// LABEL & BADGES

.component {
	label-clab,
	badge-clab {
		margin-right: $smaller-spacing;
	}
}

// PROGRESS BARS

.component {
	progress-clab {
		flex-grow: 1;
	}
}

// TEXT INPUTS

.text-inputs-comp {

	.example {
		justify-content: space-between;
		flex-flow: row wrap;
	}

	input-clab {
		width: calc((100% / 2) - 10px);
		flex-shrink: 0;
	}
}

// AUTOCOMPLETE

.autocomplete-comp {

	.example {
		justify-content: space-between;
		flex-flow: row wrap;
	}

	autocomplete-clab {
		width: calc((100% / 2) - 10px);
		flex-shrink: 0;
	}
}

// DROPDOWN

.dropdown-comp {

	.example {
		justify-content: space-between;
		flex-flow: row wrap;
	}

	dropdown-clab {
		width: calc((100% / 2) - 10px);
		flex-shrink: 0;
	}
}

// MULTIPLE

.multiple-comp {
	multiple-clab {
		flex-grow: 1;
	}
}


// TAGS

.tags-comp {
	tags-clab {
		flex-grow: 1;
	}
}

// TEXT INPUTS

.example.text-inputs-comp {
	display: flex;
	align-items: flex-end;
}
