@font-face {
    font-family: 'BLOKKRegular';
    src: url('../fonts/BLOKKRegular.eot');
    src: url('../fonts/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BLOKKRegular.woff') format('woff'),
         url('../fonts/BLOKKRegular.svg#BLOKKRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import "../bower/susy/sass/susy";
$fa-font-path: "../bower/font-awesome/fonts";
@import "../bower/font-awesome/scss/font-awesome";
@import "library/reset";
@import "library/settings";
@import 'compass';
@import "contactlab-pattern"; 
 
// HEADER

header .main-nav {
	padding-right: 250px;
}

header .product-logo .product-name {
	padding-left: 0;
	font-size: 23px;
}

// COVER

.centered-wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	padding: 0 $base-spacing;
}

#cover-heading {
	@include full;
	background-color: $primary-color;
	color: #FFFFFF;
	@include clearfix;
	background-image: url("../img/bg-cover.png");
	background-position: right bottom;
	background-repeat: no-repeat;

	.logo {
		float: left;
		max-width: 150px;
		margin: $base-spacing 0 0 $base-spacing;

		img {
			width: 100%;
		}
	} 

	.cover-title {
		margin-top: $larger-spacing*2;
		@include full;
		max-width: 50%;
		font-size: 5rem;
		font-weight: $light-weight;
	}

	.cover-description {
		margin: $larger-spacing 0 $larger-spacing*2;
		@include full;
		max-width: 50%;
	}
}

.cover-content {
	@include full;
	padding: $larger-spacing 0;

	.intro,
	.sections {
		@include full;
	}

	.sections {
		margin-top: $larger-spacing;
	}

	.sections .card {
		@include gallery(3);
		text-align: center;

		figure {
			padding: $base-spacing 0;
		}

		.card-body {
			color: $primary-color;
			font-size: 2.5rem;
			line-height: 1;
			font-weight: $light-weight;
		}

		.card-actions {
			text-align: center;
		}
	}
}

.cover-footer {
	@include full;
	padding-bottom: $base-spacing;

	.powered {
		float: left;
	}

	.release {
		float: right;
		font-weight: $bold-weight; 
	}
}


#draft-ribbon{
  width: 200px;
  background: #e43;
  position: fixed;
  top: 25px;
  right: -50px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  @extend .depth-1;
  z-index: 15;
}



// END COVER




 

// STRUTTURA PATTERN LIBRARY PAGES

.component-specs {
	.tab-content,
	.code-snippet {
		background-color: #FFFFFF;
		border: 1px solid $light-gray;
		border-top: 0;
		padding: $base-spacing;
		position: relative; 
	}

	.clipboard {
		position: absolute;
		top: 0;
		right: 0;

		&.copied:before {
			content:"Copied!";
			position: absolute;
			top: -1px;
			left: -1px;
			right: -1px;
			bottom: -1px;
			color: $success-text-color;
			line-height: 29px;
			background-color: $success-color;
		}
	}
 
	pre {
		padding-bottom: $small-spacing;
 
		&:last-child {
			padding-bottom: 0;
		}
	}

	.hljs {
		padding: 0 !important;
		background: transparent;
		padding-bottom: $small-spacing;
	}
}


.component-description {
	margin-bottom: $base-spacing;
}

.component {
	flex-direction: column;

	

	.example {
		display: flex;
		margin-bottom: $base-spacing;

		&:last-of-type {
			margin-bottom: 0;
		} 
	}

	.specs {
		.tab-content {
			padding: 0;
			position: relative;
		}

		button-clab {
			margin: 0;
		}

		.clipboard {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
		}
	}
} 


// FINE STRUTTURA PATTERN LIBRARY PAGES


// RELEASE NOTES

#release-notes {
	.release {
		@include full;
		padding: $base-spacing 0;
		border-bottom: 1px solid $light-gray;

		.number {
			float: left;
			width: 5%;
			color: $medium-gray;
		}

		.date {
			float: left;
			width: 10%;
		}

		.description {
			float: left;
			width: 85%;
		}


	}
}

// END RELEASE NOTES


// COLORS


.pattern-colors {
	.pattern-color {
		width: 200px;
		margin-right: $base-spacing;
		padding-bottom: $base-spacing;

		.color-sample {
			height: 200px;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: center;
			margin-bottom: $small-spacing;

			&.corporate-primary {
				background-color: $primary-color; 
			}

			&.corporate-neutral {
				background-color: #5C6970; 
			}

			&.lighter-gray {
				background-color: $lighter-gray; 
			}

			&.light-gray {
				background-color: $light-gray; 
			}

			&.gray {
				background-color: $gray; 
			}

			&.medium-gray {
				background-color: $medium-gray; 
			}

			&.dark-gray {
				background-color: $dark-gray; 
			}

			&.darker-gray {
				background-color: $darker-gray; 
			}

			@each $type, $color in $default-status {
				&.#{$type} {
					background-color: nth($color, 1);
				}
			}

			.swatches {
				visibility: hidden;
				opacity: 0;
				@extend .default-transition;

				img {
					width: 40px;
					margin: $smaller-spacing;
				}
			}

			&:hover {
				.swatches {
					visibility: visible;
					opacity: 1;
					@extend .default-transition;
				}
			}
		}

		.details {
			ul {
				li {
					margin-bottom: 0;
					font-size: $small-font-size;
				}

				li:first-child {
					font-weight: $bold-weight;
					font-size: $base-font-size;
				}
			}
		}
	}
}
 



// TYPOGRAPHY

.typo-weights {
	flex-wrap: nowrap;

	.font-weight {
		flex-grow: 1;
		font-size: 100px;
		line-height: 1;

		.name {
			font-size: $small-font-size;
			font-weight: $normal-weight;
		}

		&.light {
			font-weight: $light-weight;
		}

		&.semibold {
			font-weight: $semibold-weight;
		}

		&.bold {
			font-weight: $bold-weight;
		}
	}
}

.typo-examples {
	.example {
		flex-grow: 1;
		flex-basis: 50%;
		margin: $base-spacing 0;
		font-size: $big-font-size;
		padding-right: $base-spacing;

		.name {
			font-size: $small-font-size;
			font-weight: $normal-weight;
			border-bottom: 1px solid $gray;
			padding-bottom: $smaller-spacing;
			margin-bottom: $smaller-spacing;
		}

		&.italic {
			font-style: italic;
		}

		&.light {
			font-weight: $light-weight;
		}

		&.semibold {
			font-weight: $semibold-weight;
		}

		&.bold {
			font-weight: $bold-weight;
		}
	}
}


// SPINNERS

.spinner-comp {
	.example {
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.spinner-container {
	position: relative;
	justify-content: space-between;
	height: 200px;
	flex-basis: calc((100% / 2) - 10px);
}

// PROGRESS BARS

.component.prog-bars-comp {
	.example {
		margin-bottom: 0;
	}
}

// TAB PILLS

.component.tab-pills {
	tabs-clab {
		flex-grow: 1;
	}
}


// ICONOGRAPHY

.iconography {
	.icon-example {
		flex-grow: 1;
		flex-basis: calc(100% / 3);
		display: flex;
		padding-bottom: $base-spacing;
		align-items: center;

		.clab-icon {
			font-size: 25px;
			padding-right: $small-spacing;
			width: 50px;
			text-align: center;
		}
	}

	&.corporate {
		.clab-icon {
			width: auto;
			font-size: 15px;
		}
	}
}

// LISTS

.example.lists {
	display: flex;

	ul,
	ol {
		flex-grow: 1;
		flex-basis: calc(100% / 3);
	}
}

// MOTION

#shadow {
	.shadow-container {
		@include gallery(2);
		margin-bottom: $base-spacing;

		.shadow {
			width: 100px;
			height: 100px;
			background-color: $gray;
		}
	}
}

// TOOLTIPS

#tooltips {

	.tooltip {
		background-color: $gray;
		padding: $base-spacing;
		margin-right: $base-spacing;
		float: left;
		margin-bottom: $base-spacing;
	}
}

// CARDS

.cards {

	.example {
		justify-content: space-between;
	}

	card-clab {
		width: calc((100% / 3) - 14px); 
	}
}

// FEATURES

.features {

	.example {
		justify-content: space-between;
	}

	feature-clab {
		width: calc((100% / 3) - 14px); 
	}
}

// RANGE

range-clab {
	flex-grow: 1;
}

// LABEL & BADGES

.component {
	label-clab,
	badge-clab {
		margin-right: $smaller-spacing;
	}
}

// PROGRESS BARS

.component {
	progress-clab {
		flex-grow: 1; 
	}
}

// TEXT INPUTS

.text-inputs-comp {

	.example {
		justify-content: space-between;
		flex-flow: row wrap;
	}

	input-clab {
		width: calc((100% / 2) - 10px); 
		flex-shrink: 0;
	}
} 

// AUTOCOMPLETE

.autocomplete-comp {

	.example {
		justify-content: space-between;
		flex-flow: row wrap;
	}

	autocomplete-clab {
		width: calc((100% / 2) - 10px); 
		flex-shrink: 0;
	}
}

// DROPDOWN

.dropdown-comp {

	.example {
		justify-content: space-between;
		flex-flow: row wrap;
	}

	dropdown-clab {
		width: calc((100% / 2) - 10px); 
		flex-shrink: 0;
	}
}

// MULTIPLE

.multiple-comp {
	multiple-clab {
		flex-grow: 1;
	}
}


// TAGS

.tags-comp {
	tags-clab {
		flex-grow: 1;
	}
}