button:disabled {
  cursor: not-allowed;
}

%btn-style {
  margin: 0 3px;
  padding: $small-spacing $base-spacing;
  cursor: pointer;
  background: transparent;
  color: $dark-gray;
  border: 1px solid $dark-gray;
  font-size: $base-font-size;
  font-family: $base-font-family;
  @extend .faster-transition;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:focus {
    outline: none;
  }

  .icon {
    margin-right: $small-spacing;
    display: inline-block;
    font-size: 10px;
    @include scale(2);
    @include apply-origin(center, center);
  }

  &.small {
    padding: $smaller-spacing $small-spacing;
  }
}

.btn {
  @extend %btn-style;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  &.block {
    @include full;
  }

  &:hover {
    border-color: lighten($dark-gray, 10%);
    color: lighten($dark-gray, 10%);
  }

  &:disabled {
    border-color: $disabled-color !important;
    color: $disabled-color !important;
    background-color: transparent;
  }

  &:active,
  &.active {
    border-color: $dark-gray;
    color: #FFFFFF;
    background-color: $dark-gray;
    @extend .faster-transition;
  }

  @each $type, $color in $default-status {
    &.#{$type} {
      border-color: nth($color, 1);
      color: nth($color, 1);

      &:hover {
        border-color: lighten(nth($color, 1), 10%);
        color: lighten(nth($color, 1), 10%);
      }

      &:focus {
        background-color: $color;
      }

      &:active,
      &.active {
        border-color: nth($color, 1);
        color: nth($color, 2);
        background-color: nth($color, 1);
        @extend .faster-transition;
      }
    }
  }
}

// FLAT BUTTONS

.btn.flat {
  @extend %btn-style;
  border: 1px solid transparent;
  background: transparent;
  color: $dark-gray;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  &:active,
  &.active {
    background: $dark-gray;
    color: #FFFFFF;
  }

  &:disabled {
    border-color: transparent !important;
  }

  @each $type, $color in $default-status {
    &.#{$type} {
      background-color: transparent;
      color: nth($color, 1);

      &:hover {
        border-color: transparent;
      }

      &:active,
      &.active {
        background-color: nth($color, 1);
        border-color: nth($color, 1);
        color: nth($color, 2);
      }
    }
  }

  &:disabled {
    background: transparent;
    color: $disabled-color; 
    cursor: not-allowed;
  }
}

// FULL BUTTONS

.btn.full {
  @extend %btn-style;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: $dark-gray;
  color: #FFFFFF;

  &.block {
    @include full;
  }

  &:hover {
    border-color: lighten($dark-gray, 5%);
    background-color: lighten($dark-gray, 5%);
    color: #FFFFFF;
  }

  &:disabled {
    border-color: $disabled-color !important;
    color: #FFFFFF !important; 
    background-color: $disabled-color !important;
    cursor: not-allowed;
  }

  &:active,
  &.active {
    border-color: darken($dark-gray, 5%);
    color: #FFFFFF;
    background-color: darken($dark-gray, 5%);
  }

  @each $type, $color in $default-status {
    &.#{$type} {
      border-color: nth($color, 1);
      background-color: nth($color, 1);
      color: nth($color, 2);

      &:hover {
        border-color: lighten(nth($color, 1), 5%);
        background-color: lighten(nth($color, 1), 5%);
        color: nth($color, 2);
      }

      &:focus {
        background-color: nth($color, 1);
      }

      &:active,
      &.active {
        border-color: darken(nth($color, 1), 5%);
        color: nth($color, 2);
        background-color: darken(nth($color, 1), 5%);
      }
    }
  }
}


// FLOATING BUTTONS

.floating-button {
  width: 56px;
  height: 56px;
  @include border-radius(28px);
  line-height: 56px;
  text-align: center;
  font-size: 24px;
  @include single-box-shadow(0, 2px, 7px, 0, rgba(0,0,0,0.22));
  cursor: pointer;
  display: inline-block;
  border: 0;
  @extend .faster-transition;

  @each $type, $color in $default-status {
    &.#{$type} {
      background-color: nth($color, 1);
      color: nth($color, 2);

      &:hover {
        background-color: lighten(nth($color, 1), 5%);
      }

      &:focus {
        background-color: nth($color, 1);
      }

      &:active {
        background-color: darken(nth($color, 1), 5%);
        @extend .faster-transition;
      }

      a {
        color: nth($color, 2);
      }
    }
  }

  i {
    line-height: 56px;
  }

  &.bottom-right {
    bottom: -28px;
    right: $base-spacing;
    position: absolute;
  }

  &.top-right {
    top: -28px;
    right: $base-spacing;
    position: absolute;
  }

  &.small {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;

    i {
      line-height: 40px;
      font-size: 20px;
    }

    &.top-right {
      top: -20px;
    }

    &.bottom-right {
      bottom: -20px;
    }
  }
}

// BUTTONS GROUP

.buttons-group {
  
  &.small .btn {
    @extend .small;
  }

  .group-item {

    &:last-of-type .btn,
    &:last-of-type:active .btn {
      border-right: 1px solid $medium-gray;
    }

    .btn {
      float: left;
      margin: 0;
      border-right: 0;
      border-color: $medium-gray;

      &:active {
        background-color: shade($medium-gray, 10);
      }

      &.full {
        background-color: $medium-gray;
        border-color: $medium-gray;
      }
      
    }
  }

  @each $type, $color in $default-status {
    &.#{$type} {

      
      .group-item {

        &:last-of-type .btn,
        &:last-of-type:active .btn {
           border-right: 1px solid nth($color, 1);
        }

        .btn {
          border-color: nth($color, 1);

          &:active {
            background-color: shade(nth($color, 1), 10);
          }

          &.full {
            background-color: nth($color, 1);
            border-color: nth($color, 1);
          }
          
        }
      }

      
    }
  }
}