textarea {
  resize: vertical;
}

input:focus,
textarea:focus {
  box-shadow: none;
}

input[type="submit"],
input[type="reset"] {
  width: auto;
}


.input-icon-wrapper {
    @include full;
    position: relative;

    &:after {
      font-family: 'contactlab-icons';
      content: "\e62a";
      position: absolute;
      font-size: 18px;
      right: $smaller-spacing;
      top: 9px;
      line-height: 1;
    }

    input {
      padding-right: 30px !important;
    }

    &.calendar:after {
      content: "\e610";
    }
}

// INPUT STYLE

.input-wrapper {
  @include full;
  position: relative;

  label {
    @include full;
    font-weight: $bold-weight;
    font-size: $small-font-size;
    padding-bottom: $smaller-spacing;
    line-height: 1;
    text-align: left;
  }

  .note {
    @include full;
    font-size: $small-font-size;
  }

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea {
    @include full;
    background-color: rgba(255,255,255,0.6);
    border: 0;
    border-bottom: 1px solid $light-gray;
    padding: $smaller-spacing;
    font-size: $base-font-size;
    height: 36px;
    @extend .fast-transition;

    &:focus { 
      border-color: $primary-color;
      @include box-shadow($primary-color 0 1px 0 0);
      @extend .fast-transition;
      background-color: rgba(255,255,255,1);
    }

    &:disabled {
      color: $disabled-color;
      cursor: not-allowed;
    }
  }

  @each $type, $color in $default-status {
    &.#{$type} {
      input[type="color"],
      input[type="date"],
      input[type="datetime"],
      input[type="datetime-local"],
      input[type="email"],
      input[type="month"],
      input[type="number"],
      input[type="password"],
      input[type="search"],
      input[type="tel"],
      input[type="text"],
      input[type="time"],
      input[type="url"],
      input[type="week"],
      textarea {
        border-bottom-color: nth($color, 1);

        &:focus {
          @include box-shadow(nth($color, 1) 0 1px 0 0);
        }
      }

      label,
      .note {
        color: nth($color, 1);
      }
    }
  }
}

.input-wrapper.small-input,
.input-wrapper.default-input,
.input-wrapper.big-input,
.small-input,
.default-input,
.big-input {
  float: left;
  margin-right: $small-spacing;
}

.input-wrapper.small-input,
.small-input{
  width: 150px;
}

.input-wrapper.default-input,
.default-input {
  width: 200px;
}

.input-wrapper.big-input,
.big-input {
  width: 250px;
}

.card {
  .input-wrapper {
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    textarea {
      background-color: shade(#FFFFFF, 2);

      &:focus {
        background-color: $lighter-gray;
      }
    }
  } 
}

// INPUT WITH BUTTONS

.input-wrapper.static {
  $static-input-width: 150px;

  padding-left: $static-input-width;

  label {
    width: $static-input-width;
    text-align: right;
    vertical-align: middle;
    padding-bottom: 0;
    padding-right: $base-spacing;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 10px;
  }

  .note {

  }
}

// STATIC INPUT





// CUSTOM RANGE

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: #eaeced;
  border-radius: 0;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  border: 0px solid #000000;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: $primary-color;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  @include simple-transform($scale: 1);
  @include transition(transform 200ms ease-in-out);
}

input[type=range]:hover::-webkit-slider-thumb,
input[type=range]:focus::-webkit-slider-thumb,
input[type=range]:active::-webkit-slider-thumb {
    @include simple-transform($scale: 1.3);
    @include transition(transform 200ms ease-in-out);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #eaeced;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}


// CUSTOM CHECKBOXES

input[type=checkbox],
input[type=radio] {
  display:none;

  + label:before {
    font-family: 'contactlab-icons';
    display: inline-block;
    color: $dark-gray;
    font-size: 15px;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
    line-height: 1;
    vertical-align: baseline;
    padding-left: 1px;

    // unchecked icon
    content: "\e612";
    width: 20px;

    // space between checkbox and label
    letter-spacing: 10px;
  }
}

input[type=radio] + label:before {
  content: "\e62e";
}

input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
  // checked icon
  content: "\e613";

  // allow space for check mark
  letter-spacing: 5px;
}

input[type=checkbox]:checked + label:before {
  padding-top: 0px;
  padding-bottom: 2px;
}

input[type=radio]:checked + label:before {
  content: "\e62f";
}

input[type=radio]:disabled + label,
input[type=radio]:disabled + label:before,
input[type=checkbox]:disabled + label,
input[type=checkbox]:disabled + label:before {
  color: $disabled-color;
  cursor: not-allowed;
}

h2 + .form-row {
  margin-top: $base-spacing;
}

// FILE

.input-wrapper {
  input[type="file"] {
    display: none;
  }
}

// MULTIPLE SELECT
select[multiple] {
    @include full;
    background-color: rgba(255,255,255,0.6);
    border: 0;
    border-bottom: 1px solid $light-gray;
    padding: $smaller-spacing 0;
    font-size: $base-font-size;
    @extend .fast-transition;
}


// ELEKTI
.elekti-wrapper {
  @include full;
  position: relative;

  &:after {
    font-family: 'contactlab-icons';
    content: "\e60c";
    position: absolute;
    top: 12px;
    right: $smaller-spacing;
    line-height: 1;
    font-size: 12px;
    @extend .fast-transition;
  }

  &.active:after {
    @include transform(rotate(180deg));
    @extend .fast-transition;
  }

  input[type="text"].js-users-list-filter {
    padding-right: 25px;
  }

  .js-users-list-filter-message,
  .js-users-list-filter-counter,
  .js-users-list {
    display: none;  
  }

  .filter-hidden {
    opacity: .1;
  }
  .js-users-list{
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 37px;
    @extend .depth-1;
    max-height: 200px;
    overflow: auto;
    @extend .fast-transition;

    li,
    .noResults {
      background-color: white;
      display: block;
      padding: 10px;
      margin: 0;
      cursor: pointer;

      &.hide {
        display: none;
      }

      &.selected {
        color: $primary-color;
      }
    }

    &.visible {
      display: block;
    }

    .noResults {
      cursor: initial;
    }
  }
}



.select-button .elekti-wrapper {
  width: auto;

  input[type="text"].js-users-list-filter {
    @extend .btn;
    width: auto;
  }
}

