textarea {
  resize: vertical;
}

.static-input {
  @include full;
  padding-bottom: $small-spacing;
  @include clearfix;

  label {
    font-weight: $semibold-weight;
    font-size: 0.8em;
    min-width: 150px;
    display: inline-block;

    @include susy-breakpoint($tablet) {
      width: 100%;
    }
  }

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea {
    width: auto;
    font-size: $base-font-size;
    width: 40%;
    margin-top: 1px;
    -webkit-appearance: none;

    @include susy-breakpoint($tablet) {
      width: 100%;
    }
  }

  .user-title {
    @extend h1;
  }

  span {
    display: inline-block;
    padding: $smaller-spacing 0;
  }
}

input:focus,
textarea:focus {
  box-shadow: none;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  border: 0px;
  box-shadow: none;
  border-bottom: 1px solid $light-gray;
  padding: $smaller-spacing 0;
  width: 100%;
  color: $base-text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  background: $base-background-color;
  @extend .default-transition;


  &:focus {
    border-color: $primary-color;
    @include box-shadow($primary-color 0 1px 0 0);
    @extend .default-transition;
  }

  
}

input[type="submit"],
input[type="reset"] {
  width: auto;
}

.input-group {
  @include span(12);
  position: relative;
  padding: 15px 0 0 0;
  margin-bottom: $base-spacing;

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea {
    margin-bottom: 0;
    color: $base-text-color;
    font-weight: $normal-weight;
    background: transparent;

    + label{
      position: absolute;
      top: 21px;
      left: 0;
      cursor: text;
      @extend .default-transition;
      font-weight: $normal-weight;
    }

    &:focus + label{
      color: $primary-color !important;
      font-weight: $semibold-weight;
      @include simple-transform($scale: 0.8, $trans-y: -25px, $origin-x: left, $origin-y: top);
      @extend .default-transition;
      border-color: $primary-color;
    }

    &.active + label {
      color: $base-text-color;
      font-weight: $semibold-weight;
      @include simple-transform($scale: 0.8, $trans-y: -25px, $origin-x: left, $origin-y: top);
      @extend .default-transition;
    }

  }

  .note {
    width: 100%;
    font-size: 0.8em;
  }



  @each $type, $color in $default-status {
    &.#{$type} {
      input[type="color"],
      input[type="date"],
      input[type="datetime"],
      input[type="datetime-local"],
      input[type="email"],
      input[type="month"],
      input[type="number"],
      input[type="password"],
      input[type="search"],
      input[type="tel"],
      input[type="text"],
      input[type="time"],
      input[type="url"],
      input[type="week"],
      textarea {
        border-color: nth($color, 1);

        &:focus {
          @include box-shadow(nth($color, 1) 0 1px 0 0);
        }

        &:focus + label {
          color: nth($color, 1) !important;
        }

        &.active + label {
          color: nth($color, 1);
        }
      }

      label,
      .note {
        color: nth($color, 1);
      }
    }
  }
}





/*** custom checkboxes ***/

input[type=checkbox],
input[type=radio] {
  display:none;

  + label:before {
    font-family: 'contactlab';
    display: inline-block;
    color: $dark-gray;
    font-size: 15px;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
    line-height: 1;
    vertical-align: baseline;
    padding-left: 1px;

    // unchecked icon
    content: "\e607";
    width: 20px;

    // space between checkbox and label
    letter-spacing: 10px;
  }
}

input[type=radio] + label:before {
  content: "\e609";
}

input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
  // checked icon
  content: "\e608";

  // allow space for check mark
  letter-spacing: 5px;
}

input[type=checkbox]:checked + label:before {
  padding-top: 0px;
  padding-bottom: 2px;
}

input[type=radio]:checked + label:before {
  content: "\e60a";
}

input[type=radio]:disabled + label,
input[type=radio]:disabled + label:before,
input[type=checkbox]:disabled + label,
input[type=checkbox]:disabled + label:before {
  color: $disabled-color;
  cursor: not-allowed;
}

h2 + .form-row {
  margin-top: $base-spacing;
}

// FILE

input[type="file"] {
  @include full;
}

.input-file-label {
  font-size: 0.8rem;
  font-weight: $semibold-weight;
}

.fileUpload {
  overflow: hidden;
  display:inline-block;
  vertical-align:top;
}
.uploadBtn{
    position: absolute;
    bottom: 5px;
    right: 0;
    font-size: 1rem;
    color: $base-text-color;
}

.file-name {
  padding-right: 20px;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  bottom: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}

// ELEKTI

.js-users-list-filter-message,
.js-users-list-filter-counter,
.js-users-list {
  display: none;  
}

.filter-hidden {
  opacity: .1;
}
.js-users-list{
  position: absolute;
  z-index: 1;
  width: 100%;
  @include single-box-shadow(0, 4px, 10px, 0, rgba(0,0,0,0.10));

  li,
  .noResults {
    background-color: white;
    display: block;
    padding: 10px;
    margin: 0;
    cursor: pointer;

    &.hide {
      display: none;
    }

    &.selected {
      color: $primary-color;
    }
  }

  &.visible {
    display: block;
  }

  .noResults {
    cursor: initial;
  }
}