$main-sidebar-width: 200px;
$secondary-sidebar-width: 280px;
$header-height: 60px;

html{
  height: 100%;
}

body {
	min-height: 100%;
}

.action-bar-button {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	@extend .faster-transition; 

	&:active {
		background-color: $primary-color !important;
		color: $primary-text-color;
		@extend .faster-transition; 
	}
}

// MAIN SIDEBAR

#main-sidebar { 
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: $main-sidebar-width;
	background-color: $darker-gray;
	z-index: 10;

	#logo {
		@include full;
		height: $header-height;
		line-height: $header-height;
		font-size: 14px;
		text-align: center;

		.sign {
			position: absolute;
			top: 10px;
			left: $base-spacing;
			line-height: 1;
			font-size: 20px;
			color: $primary-color;

			.clab {
				font-size: 20px;
			}
		}

		.name {
			font-size: 25px;
			font-weight: $light-weight;
			color: #FFFFFF;
			@include full;
			padding-left: 40px;
			text-align: left;

			b {
				font-weight: $normal-weight;
				color: $primary-color;
			}
		}

		a {
			padding-top: 0;
			padding-bottom: 0;
		}
	}	

	// MENU

	%hover-menu {
		background-color: $darker-gray;
		
		li a {
			padding-left: $base-spacing;
		}
	}

	nav {
		position: absolute;
		top: $header-height;
		left: 0;
		right: 0;
		bottom: 40px;
		overflow: auto;

		.icon {
			width: 20px;
			height: 20px;
			font-size: 20px;
			margin-right: $base-spacing;
		}

		a {
			border-left: 2px solid transparent;
		}

		a:active {
			background-color: rgba(0, 0, 0, 0.3);
		}

		.active > a,
		.active > a:hover{
			background-color: rgba(255, 255, 255, 0.15);
			color: #FFFFFF;
			border-color: $primary-color;
		}

		.menu-title {
			display: none;
			padding: 8px $base-spacing;
			color: #FFFFFF;
			background-color: rgba(255, 255, 255, 0.15);
		}
	}

	.first-level-menu,
	.second-level-menu,
	.third-level-menu {
		@include full;
		margin: 0;

		li {
			cursor: pointer;
			@include full;
			margin: 0;
			position: relative;
			@include user-selection(none);
		}

		a {
			color: #FFFFFF;
			display: block;
			padding: 8px $base-spacing;
			text-decoration: none;
		}
	}

	// FIRST LEVEL

	.first-level-menu {

		.active {
			> a {
				background-color: rgba(255, 255, 255, 0.15);
				background-color: lighten($darker-gray, 10);

				&:hover {
					background-color: lighten($darker-gray, 10);
				}
			}
		}

		/* > .active:after {
			width: 0; 
			height: 0; 
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			content: '';
			border-left: 8px solid lighten($darker-gray, 10);
			position: absolute;
			top: 13px;
			right: -8px;
		} */
		
		.active,
		.open {
			.second-level-menu {
				display: block;
			}
		}
	}

	// SECOND LEVEL

	.second-level-menu {
		display: none;
		background-color: rgba(0, 0, 0, 0.3);
		padding-bottom: $small-spacing;

		a {
			font-size: $small-font-size;
			color: #AAA;
			padding: $smaller-spacing $base-spacing $smaller-spacing $larger-spacing;
		}

		li:hover > a {
			background-color: transparent;
			color: #FFFFFF;
		}

		.active a,
		.active a:hover {
			background-color: transparent;
			border-color: transparent;
		}

		li.active,
		li.open {

			> a {
				color: #FFFFFF;
			}

			.third-level-menu  {
				padding-bottom: $small-spacing;

				&:before {
					content: "\e614";
				}

				li {
					display: block;
				}
			}
		}
	}

	// THIRD LEVEL

	.third-level-menu {
		background-color: rgba(0, 0, 0, 0.5); 

		li {
			display: none;

			a {
				font-size: $small-font-size;
				color: #AAAAAA;
				padding-left: 80px;
			}

			&.active a {
				color: #FFFFFF;
			}
		}

		&:before {
			font-family: 'contactlab-icons';
			content: "\e62b";
			position: absolute;
			right: 10px;
			top: 11px;
			color: #FFFFFF;
			font-size: 10px;
		}
	}

	#reduce {
		position: absolute;
		bottom: 0;
		@include full;
		text-align: right;

		a {
			padding: 0;
			@extend .action-bar-button;
			background-color: rgba(255, 255, 255, 0.1);
			float: right;
			cursor: pointer;
			color: #FFFFFF;
		}

		.expand {
			display: none;
			vertical-align: middle;
		} 

		.compress {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

// END MAIN SIDEBAR

main {
	@include full;
	padding-left: $main-sidebar-width;
	padding-right: 0;
	padding-top: $header-height;
}

// HEADER

header {
	position: fixed;
	top: 0;
	right: 0;
	left: $main-sidebar-width;
	background-color: #FFFFFF;
	height: $header-height;
	z-index: 4;
}

.app-switch {
	position: absolute;
	left: 0;
	top: 0;

	.btn {
		border-left: 0;

		.icon {
			margin-right: 0;
		}
	}
}

// user bar

#user-menu-toggle {
	cursor: pointer;
	float: left;
	padding-left: $base-spacing;
	@include user-selection(none);

	&:active,
	&.active {
		.picture img {
			border-color: $primary-color;
		}
	} 
}

.user-bar {
	float: right;
	height: $header-height;
	font-size: 0;

	.name {
		line-height: $header-height;
		display: inline-block;
		vertical-align: top;
		font-size: $base-font-size;
		margin-right: $base-spacing;
	}
 
	.picture {
		width: $header-height - 26px;
		height: $header-height - 26px;
		display: inline-block;
		vertical-align: top;
		font-size: $base-font-size;
		margin: 15px $base-spacing 0 0;
		position: relative;

		img {
			width: 100%;
			@include border-radius(50%);
			border: 2px solid transparent;
			@extend .faster-transition;
		}
	}
}

.notifications-badge {
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	background-color: $primary-color;
	color: $primary-text-color;
	@include border-radius(50%); 
}

// end user bar

// END HEADER

// SECONDARY SIDEBAR

#secondary-sidebar {
	position: fixed;
	width: $secondary-sidebar-width;
	right: -$secondary-sidebar-width - 20px;
	top: $header-height;
	bottom: 0;
	background-color: #FFFFFF;
	z-index: 2;
	padding: 0;
	overflow: auto;
	@extend .depth-1;

	.user-actions {
		@include full;
		text-align: right;
		border-bottom: 1px solid $light-gray;
		margin-bottom: $base-spacing;
		font-size: 0;
		padding-right: 12px;

		.action {
			@extend .action-bar-button;
			width: 35px;
			height: 35px;
			line-height: 35px;
			display: inline-block;
			cursor: pointer;
			font-size: 20px;

			.clab {
				font-size: 20px;
			}
		}
	}

	&.sidebar-open {
		right: 0;
	}

	.notifications {
		@include full;
	}

	.sidebar-tabs {
		padding: 0 $base-spacing;

		.pills .tab,
		.tabs .tab {
			font-size: $small-font-size;
		}
	}

	.sidebar-block {
		@include full;
		padding: 0 $base-spacing $large-spacing;
		font-size: $small-font-size;

		h3 {
			font-weight: $semibold-weight;
		}

		.feature {
			position: relative;
			.description {
				padding-left: 10px;

				p {
					font-size: $small-font-size;
				}
			}
		}

		ul,
		ul li {
			@include full;
		}

		

		&.notifications {
			.highlighted:before {
				content: '';
				position: absolute;
				left: -5px;
				top: 0;
				width: 5px;
				height: 5px;
				background-color: $primary-color;
				@include border-radius(50%);
			}
		} 
	} 
}

// END SECONDARY SIDEBAR

.content {
	@include full;
	padding: $medium-spacing ;
	position: relative;
	max-width: 1420px;
}


	
.back {
	position: absolute;
	top: 0;
	left: 0;
	@extend .action-bar-button;
	display: inline-block;
	color: $base-text-color;
	font-size: 15px;

	&:active {
		background-color: $primary-color;
		color: $primary-text-color;
	}
}






body.main-sidebar-small {
	$main-sidebar-width: 40px;

	#main-sidebar {
		width: $main-sidebar-width;

		nav {
			overflow: initial;
		}

		#reduce {

			.expand {
				display: inline-block;
				vertical-align: middle;
			}

			.compress {
				display: none;
				vertical-align: middle;
			}

			@include susy-breakpoint($tablet) {
				display: none;
			}
		}
		

		#logo {
			text-align: center;
			font-size: 35px;

			.name {
				display: none;
			}

			.sign {
				display: block;
				left: 8px;
			}
		}

		// MENU

		a {
			padding: 0;

			.icon {
				width: 38px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				margin-right: 0;
			}

			span {
				display: none;
			}
		}

		.menu-title {
			display: block;
		}

		// FIRST LEVEL MENU

		.first-level-menu li {
			position: relative;
			text-align: center;

			@include susy-breakpoint($tablet) {
				> ul {
					/* max-height: 250px; */
					/* overflow: auto; */
				}
			}

			&.active {
				.second-level-menu{
					display: none;
				}

				&.open .second-level-menu {
					display: block;
				}
			}
		}

		// SECOND LEVEL MENU

		.second-level-menu {
			display: none;
			position: absolute;
			left: $main-sidebar-width;
			top: 0;
			background-color: $darker-gray;
			width: 200px;
			max-height: 200px;
			overflow: auto;

			li {
				text-align: left; 
			}

			li a {
				padding: 5px $base-spacing;
				font-size: $small-font-size;
			}
		}

		.third-level-menu {
			left: 200px;
		}

		#reduce .icon {
			margin: 0;
		}
	}

	main {
		padding-left: $main-sidebar-width;
	}

	header
	 {
		left: $main-sidebar-width;
	}
}

// tablet layout

@include susy-breakpoint(max-width 1200px) {
	main {
		padding-right: 0;
	}
}

@include susy-breakpoint($tablet) {
	.content {
		padding: $large-spacing;
	}
}

// end tablet layout


// mobile layout

@include susy-breakpoint($smartphone) {
	$header-height: 50px;

	header {
		height: $header-height;
	}

	.search {
		line-height: $header-height;
		margin-left: $small-spacing;
	}

	.user-bar {
		right: -$header-height/2;
		height: $header-height;
		right: -80px;

		.name {
			display: none;
		}

		.picture {
			margin-top: 5px;
			margin-right: $small-spacing;
			width: $header-height - 10px;
			height: $header-height - 10px;
			position: relative;
		}

		.actions {
			width: 80px;

			.action {
				height: $header-height;
				line-height: $header-height;
				width: 40px;
			} 
		}
	}

	#secondary-sidebar {
		top: $header-height;
	}

	main {
		padding-top: $header-height;
	}

	.toolbar {
		padding-left: $small-spacing;
	}
}

// end mobile layout