// BREAKPOINTS
$wider-desktop: max-width 100em;
$wide-desktop: max-width 80em;
$desktop: max-width 60em;
$tablet: max-width 48em;
$smartphone: max-width 30em;

// COLORS
$base-gray: #353A3D;

$lighter-gray: lighten($base-gray, 75);
$light-gray: lighten($base-gray, 70);
$gray: lighten($base-gray, 60);
$medium-gray: lighten($base-gray, 45);
$dark-gray: $base-gray;
$darker-gray: shade($base-gray, 25);

$base-background-color: $lighter-gray;

$info-color: #6ac7f1;
$success-color: #61b769;
$warning-color: #fd6b3c;
$error-color: #f3594e;
$disabled-color: #E0E0E0;

// product colors
$contactplan-primary-color: #14C04D;
$contactplan-secondary-color: #8bc34a;

$contacthub-primary-color: #00BCD4;
$contacthub-secondary-color: #B2EBF2;

$contactsend-primary-color: #2C5AF5;
$contactsend-secondary-color: #448AFF;

$contactscore-primary-color: #FFBF02;
$contactscore-secondary-color: #FFEB3B;

$contactanalytics-primary-color: #F9615B;
$contactanalytics-secondary-color: #FF9797;


$contactlab-color: #0072bc;
$contacthub-color: #67c6dd;
$smartrelay-color: #178e87;
$hybris-color: #f7db20;
$padiact-color: #d6951c;
$magento-color: #ec3704; 

$primary-color: #0072bc;
$primary-color-hover:  shade($primary-color, 5%);
$primary-text-color: #FFFFFF; 
$secondary-color: tint($primary-color, 30);
$secondary-color-hover: shade($secondary-color, 5%);
$secondary-text-color: #FFFFFF;
$link-color: $primary-color;
$link-color-hover: shade($link-color, 5%);

// tables color
$table-hover-color: $primary-color;
$table-striped-color: $lighter-gray;



// FONTS
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,600,800);

// family
$title-font-family: 'Open Sans', sans-serif;
$base-font-family: 'Open Sans', sans-serif;

// sizes


$bigger-font-size: 1.375rem; // 22px
$big-font-size: 1.25rem; // 20px
$medium-font-size: 1.125rem; // 18px
$base-font-size: 16px;
$small-font-size: 0.8125rem; // 13px
$smaller-font-size: 0.6875rem; // 11px 


// weight
$light-weight: 300;
$normal-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;

// colors
$base-text-color: $dark-gray;


// SPACING
$base-spacing: 20px;
$smaller-spacing: $base-spacing / 3;
$small-spacing: $base-spacing / 2;
$medium-spacing: $base-spacing * 1.5;
$large-spacing: $base-spacing * 2;
$larger-spacing: $base-spacing * 3;


$default-status: (
  primary: ($primary-color, $primary-text-color),
  secondary: ($secondary-color, $secondary-text-color),
  info: ($info-color, #FFFFFF),
  success: ($success-color, #FFFFFF),
  warning: ($warning-color, #FFFFFF),
  error: ($error-color, #FFFFFF)
);

$product-colors: (
  contactlab: ($contactlab-color),
  contacthub: ($contacthub-color),
  smartrelay: ($smartrelay-color),
  hybris: ($hybris-color),
  padiact: ($padiact-color),
  magento: ($magento-color)
);
