<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	

	<script src="./../../app/assets/bower/webcomponentsjs/webcomponents.min.js"></script>
	<script src="./../../node_modules/web-component-tester/browser.js"></script>
	<script src="./../../test-fixture-master/test-fixture-mocha.js"></script>

	<link rel="import" href="./../../app/assets/bower/ui-components/progress-bar/view.html">
	<link rel="import" href="./../../test-fixture-master/test-fixture.html">

</head>
<body>
	
<test-fixture id="progress">
	<template>
	  <progress-clab></progress-clab>
	</template>
</test-fixture>


<script>

describe('<progress-clab>', function() {
  var progress;

  beforeEach(function() {
	progress = fixture('progress');
  });

  context('props tests', function() {
  	it('default properties', function() {
		expect(progress.value).to.be.equal(0);
		expect(progress.minimal).to.be.equal(false);
	});

	it('change value', function() {
		var num = Math.floor(Math.random() * 100);
		progress.value = num;
		expect(progress.value).to.be.equal(num);
	});

  });

  context('internal methods tests', function() {
  	it('change value', function() {
  		var num = Math.floor(Math.random() * 100);
  		var perc = progress.percent(num);
  		expect(perc).to.be.equal(num + '%');
  	});
  });

});	

</script>
</body>
</html>