<link rel="import" href="./../../assets/bower/clab-ui-components/clab-ui-components.html">
<link rel="import" href="./../../modules/cover/view.html">
<link rel="import" href="./../../modules/library/view.html">
<link rel="import" href="./../gist-embed/gist-embed.html">

<dom-module id="main-clab">
	<style></style>

	<template>
		<template is="dom-if" if="[[_computeRibbon(ribbon.visible, currentModule)]]">
			<a href="[[ribbon.repo]]"><img style="z-index: 99;position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
		</template>

		<template is="dom-if" if="[[_isPage(currentModule, 'home')]]" restamp="true">
			<!-- add attribute "beta" for the banner -->
			<cover-clab data-route="home" version="1.1.1"></cover-clab>
		</template>
		<template is="dom-if" if="[[_isPage(currentModule, 'library')]]" restamp="true">
			<!-- add attribute "beta" for the banner -->
			<library-clab data-route="library"></library-clab>
		</template>
	</template>

</dom-module>
