<dom-module id="gist-embed">
	<style>
	:host {
	   display: block;
		 background-color: white;
	 }

	:host .loading{
		text-align: center;
		color: #444;
	}

	:host,
	:host .loading{
		min-height: 24px;
		line-height: 24px;
	}

	</style>

	<template>
		<template is="dom-if" if="[[_loading]]">
			<div class="loading">Loading Gist from server...</div>
		</template>
    <link rel="stylesheet" href="[[_css]]">
    <div id="embed"></div>
	</template>

	<script>

	Polymer({
		is: 'gist-embed',
    properties: {
      user: {
        type: String,
        value: ''
      },
      uuid: {
        type: String,
        value: ''
      },
			noMeta: {
				type: Boolean,
				value: false
			},
      _css: {
        type: String
      },
			_loading: {
				type: Boolean,
				value: true
			}
    },

		attached:function(){
      var url = 'https://gist.github.com/';
      url += this.user + '/' + this.uuid + '.json';

      fetchJsonp(url).then(function(response){
        return response.json();
      }).then(function(json){
        this._css = json.stylesheet;
        this.$.embed.innerHTML = json.div;
				if(this.noMeta){
					this.querySelector('.gist-meta').style.display = 'none';
				}
				this._loading = false;
      }.bind(this));
		}

	});


	</script>
</dom-module>
