@font-face {
	font-family: 'contactlab';
	src:url('../fonts/contactlab.eot?4tulh');
	src:url('../fonts/contactlab.eot?#iefix4tulh') format('embedded-opentype'),
		url('../fonts/contactlab.ttf?4tulh') format('truetype'),
		url('../fonts/contactlab.woff?4tulh') format('woff'),
		url('../fonts/contactlab.svg?4tulh#contactlab') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="contactlab-icon-"], [class*=" contactlab-icon-"] {
	font-family: 'contactlab';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.contactlab-icon-calendar:before {
	content: "\e600";
}
.contactlab-icon-cog:before {
	content: "\e601";
}
.contactlab-icon-compress:before {
	content: "\e602";
}
.contactlab-icon-compress-h:before {
	content: "\e603";
}
.contactlab-icon-delete:before {
	content: "\e604";
}
.contactlab-icon-down-arrow:before {
	content: "\e605";
}
.contactlab-icon-download:before {
	content: "\e606";
}
.contactlab-icon-expand:before {
	content: "\e60b";
}
.contactlab-icon-expand-h:before {
	content: "\e60c";
}
.contactlab-icon-left-arrow:before {
	content: "\e60d";
}
.contactlab-icon-list:before {
	content: "\e60e";
}
.contactlab-icon-open:before {
	content: "\e60f";
}
.contactlab-icon-plus:before {
	content: "\e610";
}
.contactlab-icon-plus-circle:before {
	content: "\e611";
}
.contactlab-icon-power:before {
	content: "\e612";
}
.contactlab-icon-redo:before {
	content: "\e613";
}
.contactlab-icon-remove:before {
	content: "\e614";
}
.contactlab-icon-right-arrow:before {
	content: "\e615";
}
.contactlab-icon-rubber:before {
	content: "\e616";
}
.contactlab-icon-save:before {
	content: "\e617";
}
.contactlab-icon-search:before {
	content: "\e618";
}
.contactlab-icon-segments:before {
	content: "\e619";
}
.contactlab-icon-settings:before {
	content: "\e61a";
}
.contactlab-icon-sidebar:before {
	content: "\e61b";
}
.contactlab-icon-undo:before {
	content: "\e61c";
}
.contactlab-icon-up-arrow:before {
	content: "\e61d";
}
.contactlab-icon-user:before {
	content: "\e61e";
}
.contactlab-icon-checkbox:before {
	content: "\e607";
}
.contactlab-icon-checkbox-checked:before {
	content: "\e608";
}
.contactlab-icon-radio:before {
	content: "\e609";
}
.contactlab-icon-radio-checked:before {
	content: "\e60a";
}
